/*----------------------------------------------------------
  = Compass Framework Responsive v.0.0.1
  /1 Reset
  /2 Compass modules
  /3 Generic (Markup, Objects, Classes, Plugins, Fonts)
  /4 Specific (Layout, Style by page)
  /5 Responsive (Mobiles, tablettes, ...)
----------------------------------------------------------*/

@import "compass/reset";

/*====================
/1 Reset
======================*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, form, fieldset, legend, table, th, td, caption, hr {margin: 0; padding: 0;}
body {-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
table {border-collapse: collapse; border-spacing: 0; width: 100%;}
fieldset, img {border: 0;}
img {font-style: italic; vertical-align:bottom;}
ol, ul {list-style: none;}
caption, th {text-align: left;}
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: normal;}
abbr[title], acronym[title], dfn[title] {cursor: help; border-bottom: 1px dotted;}
a {text-decoration: none; background:transparent;}
pre {overflow: auto;}
pre, code {font-family: monospace;}
b, strong {font-weight: bold;}
sub, sup {font-size: 65%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
small {font-size: 80%;}
button, input, select, option, optgroup, textarea {font: inherit; color: inherit; margin:0;}
[type="submit"], [type="button"], [type="reset"], button {cursor:pointer; border:0; overflow:visible; line-height: normal;}
button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
input {line-height: normal;}
[type="checkbox"], [type="radio"] {padding: 0;}
textarea {overflow: auto; resize:none;}

/* HTML5 (si besoin) */
/* article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video {display: inline-block; vertical-align: baseline;}
*/

/* Box model */
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

 /* Ballot screen pour IE7>=
==============================*/
#ballot {border:2px solid #FFD61F; border-left:none; border-right:none; background:#FFF7C0;}
  #ballot .inner {width:740px; margin:0 auto; overflow:hidden;}
    #ballot .warning {background:url(../images/ico_warning.png) no-repeat center 5px; width:85px; float:left; font-size:13px; text-align:center; font-weight:bold; padding:55px 0 0;}
    #ballot p {width:260px; float:left; font-size:12px; padding:12px 0 0 15px; line-height:14px;}
      #ballot p strong {display:block; font-size:14px; margin:0 0 5px;}
    #ballot ul {float:left;}
      #ballot li {float:left; width:75px; margin:7px 0 0; text-align:center; font-size:11px;}
        #ballot li a {background:url(../images/logos_browser.png) no-repeat left top; padding:35px 0 0; text-align:center; display:block; text-decoration:none; font-weight:bold; color:#000; line-height:14px; cursor:pointer;}
        #ballot .firefox a {background-position:-55px -2px;}
        #ballot .chrome a {background-position:22px -2px;}
        #ballot .safari a {background-position:-231px 0;}
        #ballot .opera a {background-position:-138px -1px;}
        #ballot .ie a {background-position:-328px -2px;}

/*====================
/2 Compass modules
======================*/
//variables for current theme
@import "variables";

/*====================
/3 Generic
======================*/

/* Gestion des polices spécifiques
===================================*/
/* Corriger le problème avec les polices non web-safe sur le système de grilles
 * On rétablit la font général du site pour les items dans le conteneur `.grids`
 * cf module grid & v-align */
body,
[class^="grid-"],
.v-align-wrap {font-family:Arial;}

/* Balises
=====================*/
html {min-height:100%; line-height:1.333; font-size: 62.5%;}
/* Pour garder la compatibilité IE8, déclarer la font-size en px avant la déclaration en rem */
body {font-size: 14px; font-size: 1.4rem;}

/* Styler les éléments généraux */
img {max-width:100%; height:auto;}
a[href^="tel"] {color:inherit;}
label {cursor: pointer;}

/* Boutons
=====================*/
[class*="btn-"] {display:inline-block; vertical-align: middle; margin:0; border:none; font-size:15px; line-height:normal; text-align: center; cursor:pointer; -webkit-appearance: none;}
[class*="btn-"]:hover {text-decoration: none;}

/*=====================================*/

/* Icônes
================ */
/**
 * Les class commençant par `i-` permettent la gestion des icônes
 * Ces class font appel à un fichier de sprites
 <span class="i-nav"></span>
 * On définit ensuite `background-position` et les dimensions de l'icône
 */
[class^="i-"], .s:before {background:url('') no-repeat; display:inline-block;}
/* Fait appel au fichier sprite, mais n'est pas forcémment une icône */
.s:before {content:"";}
.i-txt {text-indent: -9999em; text-align:left; overflow: hidden;}
/*=====================================*/

/* Grid
================ */
/**
 * Système de grille fluide (%age)
 * Le parent `grids` ne peut contenir que des `grid-*` comme enfants
 * L'unité "grid" doit obligatoirement commencer par une class `grid-*`
 * OK
 <div class="grids">
  <div class="grid-1-2"></div>
 </div>
 **********
 * Pas OK
 <div class="grids">
  <h2>Titre</h2>
  <div class="grid-1-2"></div>
 </div>
 **********
 * Pas OK
 <div class="grids">
  <div class="box-border grid-1-2"></div>
 </div>
 * Les imbrications sont possibles, en gardant la même structure `.grids>.grid-*`
 <div class="grids">
  <div class="grid-1-2">
    <div class="grids">
      <div class="grid-1-3"></div>
      <div class="grid-1-3"></div>
      <div class="grid-1-3"></div>
    </div>
  </div>
  <div class="grid-1-2"></div>
 </div>
 */
.grids {margin-left:-10px; letter-spacing:-0.31em;
  /* Corriger le problème avec les polices non web-safe */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;}
.opera:-o-prefocus, .grids {word-spacing: -0.43em; /* Fix for Opera */}
  /* La classe doit absolument commencer par .grid- */
  [class^="grid-"] {padding-left:10px; width:100%; display: inline-block; vertical-align: top; word-spacing:normal; letter-spacing:normal;}

/* Grille sans marge */
/* .grids */.grids-flush {margin-left:0;}
  .grids-flush > [class^="grid-"] {padding-left:0;}

/* Grille marges /2 */
/* .grids */.grids-small {margin-left:-5px;}
  .grids-small > [class^="grid-"] {padding-left:5px;}

/* Grille marges x2 */
/* .grids */.grids-large {margin-left:-20px;}
  .grids-large > [class^="grid-"] {padding-left:20px;}

/* Grille alignée au milieu */
/* .grids */.grids-middle > [class^="grid-"] {vertical-align: middle;}

/* Grille alignée en bas */
/* .grids */.grids-bottom > [class^="grid-"] {vertical-align: bottom;}

/**
 * Créer une grille en tableau
 * Utilise le système de dimensions de la grid classique : .cell.grid-X
 * Pour désactiver le tableau sur d'autres tailles d'écrans : .mob-unrow | .palm-unrow
 */
.row {display: table; width: 100%; table-layout: fixed;}
  .row > .cell {display: table-cell; vertical-align: top;}

/**
 * Pour inverser le sens de la grille
.row.row-revert / .grids.grids-revert
*/
.row-revert, .grids-revert {direction: rtl; text-align: left;}
  .row-revert .cell, .grids-revert [class^="grid-"] {direction:ltr; text-align: left;}

/**
 * Largeurs des grilles
 */

/* Moitiés */
.grid-half,
.grid-1-2,
.grid-2-4,
.grid-3-6,
.grid-4-8,
.grid-5-10,
.grid-6-12 {width:50%;}

/* Tiers */
.grid-1-3,
.grid-2-6,
.grid-3-9,
.grid-4-12 {width:33.3333333%;}
.grid-2-3,
.grid-4-6,
.grid-6-9,
.grid-8-12 {width:66.6666666%;}

/* Quarts */
.grid-1-4,
.grid-2-8,
.grid-3-12 {width:25%;}
.grid-3-4,
.grid-6-8,
.grid-9-12 {width:75%;}

/* Cinquièmes */
.grid-1-5,
.grid-2-10 {width:20%;}
.grid-2-5,
.grid-4-10 {width:40%;}
.grid-3-5,
.grid-6-10 {width:60%;}
.grid-4-5,
.grid-8-10 {width:80%;}

/* Sixièmes */
.grid-1-6,
.grid-2-12 {width:16.6666666%;}
.grid-5-6,
.grid-10-12 {width:83.3333333%;}

/* Huitièmes */
.grid-1-8 {width:12.5%;}
.grid-3-8 {width:37.5%;}
.grid-5-8 {width:62.5%;}
.grid-7-8 {width:87.5%;}

/* Neuvièmes */
.grid-1-9 {width:11.1111111%;}
.grid-2-9 {width:22.2222222%;}
.grid-4-9 {width:44.4444444%;}
.grid-5-9 {width:55.5555555%;}
.grid-7-9 {width:77.7777777%;}
.grid-8-9 {width:88.8888888%;}

/* Dixièmes */
.grid-1-10 {width:10%;}
.grid-3-10 {width:30%;}
.grid-7-10 {width:70%;}
.grid-9-10 {width:90%;}

/* Douxièmes */
.grid-1-12 {width:8.3333333%;}
.grid-5-12 {width:41.6666666%;}
.grid-7-12 {width:58.3333333%;}
.grid-11-12 {width:91.6666666%;}

/*=====================================*/

/* Media object
================== */
/**
 * Permet d'afficher du contenu à côté d'une image ou d'un élément
<div class="media">
    <div class="media-item"></div>
    <div class="media-body"></div>
</div>
 * ou
 <div class="media">
     <div class="media-item-rev"></div>
     <div class="media-body"></div>
 </div>
 */
.media:after {content:""; display:table; clear:both;}
  .media-body {overflow:hidden;}
  .media-item {float:left; margin-right:10px;}
  /* Image à droite */
  .media-item-rev {float:right; margin-left:10px;}

  /* Pas d'espace entre l'image et le contenu */
  .media-flush > .media-item,
  .media-flush > .media-item-rev {margin-left:0; margin-right:0;}

  /* Espace divisé par 2 */
  .media-small > .media-item {margin-right:5px;}
  .media-small > .media-item-rev {margin-left:5px;}

  /* Espace multiplié par 2 */
  .media-large > .media-item {margin-right:20px;}
  .media-large > .media-item-rev {margin-left:20px;}

/*=====================================*/

/* Alignement vertical
========================= */
/**
 * Permet d'aligner verticalement un contenu lorsque ses dimensions ainsi que celles de son parent sont inconnues
<div class="v-align-wrap">
    <div class="v-align"></div>
</div>
 */
.v-align-wrap {letter-spacing: -0.31em;
  /* Corriger le problème avec les polices non web-safe */
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;}
.opera:-o-prefocus, .v-align-wrap {word-spacing: -0.43em; /* Fix for Opera */}
.v-align-wrap:before {content: ""; display: inline-block; height: 100%; vertical-align: middle;}
  .v-align {display: inline-block; vertical-align: middle; letter-spacing: normal; word-spacing:normal;}

/* Navigation
=====================*/
.nav > li,
  .nav > li > a,
.list-inline > li,
  .list-inline > li > a {display:inline-block;}

/* Navigation verticale */
.nav-vertical > li,
.children > li {display:list-item;}

/* Trigger sous-menu */
.has-children {position:relative;}
  /* Sous-menu */
  .nav-children .children {position:absolute; top:100%; left:-99999em;}
    .nav-children .children > li {min-width:200px; float:left;}
      .nav-children .children > li > a {display:block;}

/* Apparition sous-menu */
.nav-children .has-children:hover > .children {left:0;}
/* Second niveau */
.nav-children .children .has-children:hover > .children {top:0; left:100%;}

/*=====================================*/

/* Pagination
===============*/
.paginator {color:#333; white-space:nowrap; text-align:right;}
  .paginator * {display:inline-block; line-height:normal; padding:3px; font-size:12px; background:#ddd; color:#000; text-align:center;}
  .paginator span {background:#333; color:#fff;} /* Active */
  .paginator .sep {background:none; color:#333;}
  .paginator a {background:#ddd; text-decoration:none;}
  .paginator a:hover {background:#aaa;}

/*=====================================*/

/* Alertes et erreurs
======================================*/
.msg {padding:5px; margin:0 0 15px; border:1px solid; font-size: 14px;}
  .msg > li {max-width:999px; width:100%; margin:0 auto; padding:5px;}

.msg-success {background:#DFF0D8; border-color:#D6E9C6; color:#3C763D;}
.msg-error {background:#F2DEDE; border-color:#EBCCD1; color:#A94442;}
.msg-warning {background:#FCF8E3; border-color:#FAEBCC; color:#8A6D3B;}

.error {color:#FF4C55; font-weight:bold; font-style:italic;}
/*=====================================*/

/* Formulaires (.layout-form)
==============================*/
.layout-form label {display:block;}

.layout-form input[type]:not([class^="btn-"]), 
.layout-form textarea, 
.layout-form select {font-size:12px; border:1px solid #333;}

.layout-form input[type]:not([class^="btn-"]) {height:18px; line-height:18px;}

/**
 * Mise en forme des balises select 
 * Permet un style uniformisé des `select` sans passer par JS
<span class="dropdown">
  <select></select>
</span> 
 */
.layout-form .dropdown {position:relative; display:inline-block; overflow:hidden; border:1px solid; background:#FFF; vertical-align: middle;}
.layout-form .dropdown:after {content:""; position:absolute; top:50%; right:8px; margin-top:-3px;  width: 0; height: 0; border:0 solid transparent; border-width:6px 5px 0 5px; border-top-color:#000; z-index: 1; pointer-events:none;}

  .layout-form .dropdown select {border:none; padding-right:12px; width:110%; max-width:110%; min-width:190px; height:28px; background:none;  appearance: none; -webkit-appearance: none;}
  .layout-form .dropdown select::-ms-expand {display:none;}
  .layout-form .dropdown select:focus {outline:none; box-shadow:inset 0 0 1px 1px rgba(0,127,162, .30);}

/* Ajustement pour IE */
.old-ie .layout-form .dropdown {background:#FFF;}
  .old-ie .layout-form .dropdown select {width:100%; max-width:100%; min-width:100%; padding-right:7px;}

/**
 * Mise en forme des input Radio et Checkbox 
<label class="option-label option--checkbox">
  <input type="checkbox">
  Label
  <i class="option-input"></i>
</label>
<label class="option-label option--radio">
  <input type="radio">
  Label
  <i class="option-input"></i>
</label>
 */
.layout-form .option-label {position: relative; display: inline-block; padding-left:20px; padding-bottom:0; font-size:14px; font-size:1.4rem;}
    .option-label [type="checkbox"], .option-label [type="radio"] {position:absolute; opacity:0;}
  .option-input {position: absolute; top:3px; left: 0; display: block; border:1px solid #b4b3b7; width:13px; height:13px; background:#FFF; text-align: center;}
  /* Survol */
  .option-label:hover .option-input, .option-label:focus .option-input {border-color:#818084;}

  /* Checkbox */
  .option--checkbox .option-input {font-size: 60%; -webkit-border-radius:10%; border-radius:10%;}
  .option--checkbox .option-input:before {content: ""; display:block; position:absolute; top:0; left:0; height:13px; width:13px;}
  .option--checkbox input:checked ~ .option-input:before {background-size:12px 12px; background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiPjxnIGlkPSJpY29tb29uLWlnbm9yZSI+PGxpbmUgc3Ryb2tlLXdpZHRoPSIxIiB4MT0iIiB5MT0iIiB4Mj0iIiB5Mj0iIiBzdHJva2U9IiM0NDlGREIiIG9wYWNpdHk9IiI+PC9saW5lPjwvZz48cGF0aCBkPSJNMTMuMjcyIDI3LjJjLTAuNjk2IDAtMS4zNTUtMC4zMjUtMS43NzgtMC44ODVsLTUuNzE4LTcuNTQ5Yy0wLjc0NC0wLjk4Mi0wLjU1LTIuMzgxIDAuNDMyLTMuMTI1IDAuOTg0LTAuNzQ2IDIuMzgxLTAuNTUgMy4xMjUgMC40MzJsMy43NjIgNC45NjYgOS40NTktMTUuMTg2YzAuNjUxLTEuMDQ1IDIuMDI3LTEuMzY1IDMuMDc0LTAuNzE0IDEuMDQ1IDAuNjUgMS4zNjUgMi4wMjcgMC43MTIgMy4wNzJsLTExLjE3MyAxNy45MzZjLTAuMzg5IDAuNjI2LTEuMDU5IDEuMDE4LTEuNzk0IDEuMDUwLTAuMDM0IDAuMDAyLTAuMDY3IDAuMDAyLTAuMTAxIDAuMDAyeiIgZmlsbD0iIzIxMjEyMSI+PC9wYXRoPjwvc3ZnPg==);}

  /* Radio */
  .option--radio .option-input {-webkit-border-radius: 50%; border-radius: 50%;}
  .option--radio .option-input:before {content: ""; position:absolute; top:0; bottom:0; left:0; right:0; margin:2px; -webkit-border-radius: 50%; border-radius: 50%;}
  .option--radio input:checked ~ .option-input:before {background:#2f2f2f;}

  /* IE8 ne gère pas les champs custom */
  .old-ie .option-label {padding-left:0;}
    .old-ie .option-label [type="checkbox"], .old-ie .option-label [type="radio"] {position: static; opacity:1;}
    .old-ie .option-input {display: none;}


/* Formulaire en ligne (+.layout-form-inline) */
.layout-form-inline p {clear:both;}
  .layout-form-inline label {display:inline; padding-right:10px;}
  .layout-form-inline .copy {width:auto; padding:0;}
  .layout-form-inline .copy, .layout-form-inline .ui-state-error {margin-left:160px;}
  .layout-form-inline .error {display:block;}

/* Grille pour formulaire en ligne
.form-grid-* sur le label ou sur l'élément parent */
label[class*="form-grid-"], [class*="form-grid-"] label {float:left; display:block;}
label.form-grid-150, .form-grid-150 label {width:150px;}
/* etc... */

/* Formulaires avec colonnes
.form-col>p+p */
.form-row-col {overflow:hidden;}
  .form-row-col p {float:left; margin:0; clear:none;}
  .form-row-col p + p {margin-left:20px;}

/*=====================================*/

/* Tableaux (.layout-table)
============================*/
.layout-table {margin-bottom:15px;}
.layout-table-fixed {table-layout: fixed;}

/**
 * Données tabulaires
 * Présentation d'une légende et d'une donnée l'une en face de l'autre
 */
.layout-split {text-align: right;}
  .layout-split-title {float: left; clear:left; text-align: left;}

/* Modules
==============================*/
/* jQuery UI Dialog */
.ui-dialog {background:#FFF;}
  .ui-dialog-titlebar {text-align: right;}
    .ui-dialog-title {float:left;}
    .ui-dialog-titlebar-close {}
  .ui-dialog-content {padding:15px;}

/* jQuery UI Overlay */
.ui-widget-overlay {background:#000; position:fixed; top:0; left:0; width:100%; height:100%; opacity: .80; filter:Alpha(Opacity=80);}
.ui-front {z-index:100;}

/*=====================================*/

/* Classes réutilisables
==============================*/
.center {text-align:center;}
.left {text-align: left;}
.right {text-align:right;}
.flleft {float:left;}
.flright {float:right;}
.for-print, .no-display {display:none;}
.hidden {position:absolute; top:-9999em; left:-9999em; overflow: hidden;}

.clear {clear:both; line-height:1px; height:0; font-size:1px;}
.cf:before, .cf:after {content: " "; display: table;}
.cf:after {clear: both;}

/*====================
/4 Specific
======================*/

/* -----------------------------------------
 * Début de projet (A supprimer ensuite)
 * ------------------------------------------*/
body {font-family: sans-serif;}
h1 {font-size:30px;}
h2 {font-size:24px;}
h3 {font-size:100%;}
pre {border:1px dotted #FFFFFF; padding:10px;}
p {margin:0 0 10px;}
a {color:#000000;}

.layout {max-width:1000px; margin:0 auto;}

.btn {background: #444; color:#fff; padding: 6px 25px;}
.header { background:#ddd; height:120px;margin-bottom: 20px;}

label.form-grid-220, .form-grid-220 label {width:220px;}
    .nav a {color:#fff; background:#666; padding:5px 10px;}
    .container .btn,
    .container .nav a {text-decoration: none;}
    .nav li:hover > a {background:#333;}
.container {background: #efefef; margin-bottom: 20px;}
  .container .grid-aside {background: #ddd;}
  .container [class^="grid-"] {min-height: 300px;}
  .container a  {text-decoration: underline;}
  .layout-form .notice {font-size:80%;}

table {margin:0 0 10px}
table td,
table th { padding: 6px;}
table td {background: #fff;}
table th {background: #ddd;}

.footer {background:#ddd;}
  /* Blog */
  .sidebar h3 {font-weight: bold; font-size: 16px; padding: 15px 0 5px}
  .entry  {padding-bottom: 10px; border-bottom: 1px solid #000; padding-top: 10px}
  .comments {padding-top: 15px}
  .comment {padding-bottom: 5px; border-bottom: 1px solid #000; padding-top: 15px}
    .comment:nth-child(2n+1) {background: #fff}
  .post form {padding-top: 15px }

/*====================
/5 Styles responsive
======================*/

/* Ecrans HDPI
=================*/
@media (min--moz-device-pixel-ratio: 1.5),
  (-o-min-device-pixel-ratio: 3/2),
  (-webkit-min-device-pixel-ratio: 1.5),
  (min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    /* Images @2x */
}

@media only screen and (min-width: 1000px) {
  .desk-hide {display: none;}
}

/* Environnement mobile : Tablettes & Téléphones
==================================================*/
@media only screen and (max-width: 1000px) {
  /* Masquer certains éléments sur environnement mobile */
  .mob-hide {display: none!important;}

  /* Responsive media object */
  .media-mob > .media-item, .media-mob > .media-item-rev {float: none; display: block; margin-left:auto; margin-right:auto; margin-bottom:10px;}
  .media-mob.media-small > .media-item, .media-mob.media-small > .media-item-rev {margin-bottom:5px;}
  .media-mob.media-large > .media-item, .media-mob.media-large > .media-item-rev {margin-bottom:20px;}

  .grids {}
    [class^="grid-"] {}

  .mob-row {display: table; width: 100%; table-layout:fixed;}
    .mob-row > .mob-cell {display: table-cell; vertical-align: top;}

  .mob-unrow {display: block;}
    .mob-unrow > .cell {display: inline-block;}


  /**
   * On défini les tailles de grilles sur environnement mobile
   */

  /* Entier */
  .mob-full {width: 100%;}

  /* Moitiés */
  .mob-half,
  .mob-1-2,
  .mob-2-4,
  .mob-3-6,
  .mob-4-8,
  .mob-5-10,
  .mob-6-12 {width:50%;}

  /* Tiers */
  .mob-1-3,
  .mob-2-6,
  .mob-3-9,
  .mob-4-12 {width:33.3333333%;}
  .mob-2-3,
  .mob-4-6,
  .mob-6-9,
  .mob-8-12 {width:66.6666666%;}

  /* Quarts */
  .mob-1-4,
  .mob-2-8,
  .mob-3-12 {width:25%;}
  .mob-3-4,
  .mob-6-8,
  .mob-9-12 {width:75%;}

  /* Cinquièmes */
  .mob-1-5,
  .mob-2-10 {width:20%;}
  .mob-2-5,
  .mob-4-10 {width:40%;}
  .mob-3-5,
  .mob-6-10 {width:60%;}
  .mob-4-5,
  .mob-8-10 {width:80%;}

  /* Sixièmes */
  .mob-1-6,
  .mob-2-12 {width:16.6666666%;}
  .mob-5-6,
  .mob-10-12 {width:83.3333333%;}

  /* Huitièmes */
  .mob-1-8 {width:12.5%;}
  .mob-3-8 {width:37.5%;}
  .mob-5-8 {width:62.5%;}
  .mob-7-8 {width:87.5%;}

  /* Neuvièmes */
  .mob-1-9 {width:11.1111111%;}
  .mob-2-9 {width:22.2222222%;}
  .mob-4-9 {width:44.4444444%;}
  .mob-5-9 {width:55.5555555%;}
  .mob-7-9 {width:77.7777777%;}
  .mob-8-9 {width:88.8888888%;}

  /* Dixièmes */
  .mob-1-10 {width:10%;}
  .mob-3-10 {width:30%;}
  .mob-7-10 {width:70%;}
  .mob-9-10 {width:90%;}

  /* Douxièmes */
  .mob-1-12 {width:8.3333333%;}
  .mob-5-12 {width:41.6666666%;}
  .mob-7-12 {width:58.3333333%;}
  .mob-11-12 {width:91.6666666%;}

}

/* Phablet (Gros téléphone mobile)
==================================================*/
@media only screen and (max-width: 730px) {
  /* Masquer certains éléments sur environnement mobile */
  .phab-hide {display: none!important;}

  /* Responsive media object */
  .media-phab > .media-item, .media-phab > .media-item-rev {float: none; display: block; margin-left:auto; margin-right:auto; margin-bottom:10px;}
  .media-phab.media-small > .media-item, .media-phab.media-small > .media-item-rev {margin-bottom:5px;}
  .media-phab.media-large > .media-item, .media-phab.media-large > .media-item-rev {margin-bottom:20px;}

  .grids {}
    [class^="grid-"] {}

  .phab-row {display: table; width: 100%; table-layout:fixed;}
    .phab-row > .phab-cell {display: table-cell; vertical-align: top;}

  .phab-unrow {display: block;}
    .phab-unrow > .cell {display: inline-block;}

  /**
   * On défini les tailles de grilles sur environnement mobile
   */

  /* Entier */
  .phab-full {width: 100%;}

  /* Moitiés */
  .phab-half,
  .phab-1-2,
  .phab-2-4,
  .phab-3-6,
  .phab-4-8,
  .phab-5-10,
  .phab-6-12 {width:50%;}

  /* Tiers */
  .phab-1-3,
  .phab-2-6,
  .phab-3-9,
  .phab-4-12 {width:33.3333333%;}
  .phab-2-3,
  .phab-4-6,
  .phab-6-9,
  .phab-8-12 {width:66.6666666%;}

  /* Quarts */
  .phab-1-4,
  .phab-2-8,
  .phab-3-12 {width:25%;}
  .phab-3-4,
  .phab-6-8,
  .phab-9-12 {width:75%;}

  /* Cinquièmes */
  .phab-1-5,
  .phab-2-10 {width:20%;}
  .phab-2-5,
  .phab-4-10 {width:40%;}
  .phab-3-5,
  .phab-6-10 {width:60%;}
  .phab-4-5,
  .phab-8-10 {width:80%;}

  /* Sixièmes */
  .phab-1-6,
  .phab-2-12 {width:16.6666666%;}
  .phab-5-6,
  .phab-10-12 {width:83.3333333%;}

  /* Huitièmes */
  .phab-1-8 {width:12.5%;}
  .phab-3-8 {width:37.5%;}
  .phab-5-8 {width:62.5%;}
  .phab-7-8 {width:87.5%;}

  /* Neuvièmes */
  .phab-1-9 {width:11.1111111%;}
  .phab-2-9 {width:22.2222222%;}
  .phab-4-9 {width:44.4444444%;}
  .phab-5-9 {width:55.5555555%;}
  .phab-7-9 {width:77.7777777%;}
  .phab-8-9 {width:88.8888888%;}

  /* Dixièmes */
  .phab-1-10 {width:10%;}
  .phab-3-10 {width:30%;}
  .phab-7-10 {width:70%;}
  .phab-9-10 {width:90%;}

  /* Douxièmes */
  .phab-1-12 {width:8.3333333%;}
  .phab-5-12 {width:41.6666666%;}
  .phab-7-12 {width:58.3333333%;}
  .phab-11-12 {width:91.6666666%;}
}

/* Téléphones
==================================================*/
@media only screen and (max-width: 400px) {
  /* Masquer certains éléments sur environnement mobile */
  .palm-hide {display: none!important;}
  .palm-show {display: block!important;}

  /* Responsive media object */
  .media-palm > .media-item, .media-palm > .media-item-rev {float: none; display: block; margin-left:auto; margin-right:auto; margin-bottom:10px;}
  .media-palm.media-small > .media-item, .media-palm.media-small > .media-item-rev {margin-bottom:5px;}
  .media-palm.media-large > .media-item, .media-palm.media-large > .media-item-rev {margin-bottom:20px;}

  /* Grids
  =========*/
  .grids {}
    [class^="grid-"] {}

  .palm-row {display: table; width: 100%; table-layout:fixed;}
    .palm-row > .mob-cell {display: table-cell; vertical-align: top;}

  .palm-unrow {display: block;}
    .palm-unrow > .cell {display: inline-block;}

  /**
   * On défini les tailles de grilles sur environnement mobile
   */

  /* Entier */
  .palm-full {width: 100%;}

  /* Moitiés */
  .palm-half,
  .palm-1-2,
  .palm-2-4,
  .palm-3-6,
  .palm-4-8,
  .palm-5-10,
  .palm-6-12 {width:50%;}

  /* Tiers */
  .palm-1-3,
  .palm-2-6,item
  .palm-3-9,
  .palm-4-12 {width:33.3333333%;}
  .palm-2-3,
  .palm-4-6,
  .palm-6-9,
  .palm-8-12 {width:66.6666666%;}

  /* Quarts */
  .palm-1-4,
  .palm-2-8,
  .palm-3-12 {width:25%;}
  .palm-3-4,
  .palm-6-8,
  .palm-9-12 {width:75%;}

  /* Cinquièmes */
  .palm-1-5,
  .palm-2-10 {width:20%;}
  .palm-2-5,
  .palm-4-10 {width:40%;}
  .palm-3-5,
  .palm-6-10 {width:60%;}
  .palm-4-5,
  .palm-8-10 {width:80%;}

  /* Sixièmes */
  .palm-1-6,
  .palm-2-12 {width:16.6666666%;}
  .palm-5-6,
  .palm-10-12 {width:83.3333333%;}

  /* Huitièmes */
  .palm-1-8 {width:12.5%;}
  .palm-3-8 {width:37.5%;}
  .palm-5-8 {width:62.5%;}
  .palm-7-8 {width:87.5%;}

  /* Neuvièmes */
  .palm-1-9 {width:11.1111111%;}
  .palm-2-9 {width:22.2222222%;}
  .palm-4-9 {width:44.4444444%;}
  .palm-5-9 {width:55.5555555%;}
  .palm-7-9 {width:77.7777777%;}
  .palm-8-9 {width:88.8888888%;}

  /* Dixièmes */
  .palm-1-10 {width:10%;}
  .palm-3-10 {width:30%;}
  .palm-7-10 {width:70%;}
  .palm-9-10 {width:90%;}

  /* Douxièmes */
  .palm-1-12 {width:8.3333333%;}
  .palm-5-12 {width:41.6666666%;}
  .palm-7-12 {width:58.3333333%;}
  .palm-11-12 {width:91.6666666%;}


  /* Tableaux responsive
  ========================*/
  /**
   * Pour afficher des données lisibles sur petits écrans, on change le sens de lecture
   * Les en-tête sont affichées devant chaque élément de colonne

    En-tête 1 | En-tête 2 | En-tête 3
    ----------------------------------
    Col 1     | Col 2     | Col 3
    Col 4     | Col 5     | Col 6

   * Devient

     En-tête 1 | Col 1
     En-tête 2 | Col 2
     En-tête 3 | Col 3
     ------------------
     En-tête 1 | Col 4
     En-tête 2 | Col 5
     En-tête 3 | Col 6
     ------------------

   * Pour simuler ces en-tête, un data-attr `data-label` doit être appliqué à la main sur les cellules
   * Ce data-attr doit reprendre l'intitulé de l'en-tête correspondant
   <table class="table-responsive">
       <caption>Liste des employés</caption>
       <thead>
           <tr>
               <th>Nom</th>
               <th>Prénom</th>
           </tr>
       </thead>
       <tbody>
           <tr>
               <td data-label="Nom">Employé 1</td>
               <td data-label="Prénom">Employé 2</td>
           </tr>
       </tbody>
   </table>
   */
  .table-responsive, .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr {display: block;}
    .table-responsive thead {border-bottom:1px solid;}
      /* Les entêtes sont masqués */
      .table-responsive thead th {position: absolute; top:-9999em; left:-9999em;}
      /**
       * On ne garde que le premier en-tête qui devient le titre du tableau 
       * Le mieux étant d'avoir une `<caption></caption>`
       */
      .table-responsive thead th:first-child {position:static;}
    /* Séparation entre chaque "entrée" du tableau */
    .table-responsive tbody tr {border-bottom:1px solid;}
      /* On créé un espace vide pour laisser la place à l'en-tête généré via data-* */
      .table-responsive td {padding-left:50%; position: relative;}
      /* Si une ligne n'a pas besoin de label */
      .table-responsive .tr-heading {padding-left:10px; text-align: center;}
      /* L'en-tête que nous avons masqué est récupéré via un data-attr */
      .table-responsive tbody td:before {content:" "attr(data-label)" "; position: absolute; top: 0; left: 0; width: 45%; padding-right: 10px; white-space: nowrap; text-align: right;}

  /**
   * Corriger bug sur IOS 5.1.1 lié à Modernizr et un élément affiché hors de l'écran
   * Tous les éléments avec des coordonnées les positionnant en dehors de l'écran doivent être ajoutés ici
   */
  .i-txt,
  .nav-children .children,
  .hidden,
  .table-responsive thead th {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}


}
